.content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 25px;
}

.paragraph {
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin: 5%;
    border-style: ridge;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.493);
    padding-bottom: 10px;
}

.projects {
    font-size: 30px;
}