.nav {
    position: absolute;
    right: 0;
    margin-top: 15px;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
  }
  
  .nav-item {
    display: flex;
    font-size: large;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-item:hover {
    transform: scale(1.3);
  }
