.portfolio-container {
    background-image: url(../Assets/tanner-moran-KQXS670QEm8-unsplash.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}