.App {
  text-align: center;
}

.red {
  margin: 10px;
}

.App-header {
  background-color: #FFDBDA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
  font-weight: bold;
}

a {
  color: white;
  font-weight: bold;
}

.portrait {
  height: auto;
  width: 60%;
}